# Berkeley 311 calls - Lecture notes

## Modules

A **module** is a way for Python to store functions and variables so they can be reused. You `import` modules to use those functions and variables. Typically, all the `import` statements are the top of a file or notebook.

In [1]:
import pandas as pd
import altair as alt
import requests

The `requests` module is already built into Python. We installed the pandas and altair modules when we installed `requirements-3.8.5.txt` earlier.

A **package** is a kind of module that uses "dotted module names." That just means you can use methods with the name of the package followed by a period and the method, e.g. `requests.get()`.

When you `import` a module, you can give it an alias using `as`. Above, we gave the pandas module the alias of `pd`. That means we can call the library’s methods using `pd.read_csv()` instead of `pandas.read_csv()`. We always `import pandas as pd` because that's what the pandas-using community has decided as a convention; likewise, we always `import altair as alt`. 

Sometimes we call modules like pandas and altair "libraries." That's a general software term; there's no special Python thing called "library."

## What is pandas?

It's a Python Data Analysis library.

[Pandas](https://pandas.pydata.org/) is a library that allows you to view table data and perform lots of different kinds of operations on that table. In pandas, a table is called a **dataframe**. If you’ve used Excel or Google Sheets, a dataframe should look familiar to you. There are rows and columns. You have column headers. You have discrete rows.

## What is Altair?

[Altair](https://altair-viz.github.io/) is a data visualization library for Python. `matplotlib` is usually the first data viz module Python programmers learn, but Altair is easier to use.

## Download data

We're going to download [311 call data](https://data.cityofberkeley.info/311/311-Cases-COB/bscu-qpbu) from the City of Berkeley's Open Data Portal. You can run the cell below. It will download the data into a file called `berkeley_311.csv`.

If you want to download something straight from the Internet again, you can copy this code but swap out the url and the file name. (But don't forget to `import requests` at the top of your notebook.)

In [2]:
url = 'https://data.cityofberkeley.info/api/views/bscu-qpbu/rows.csv?accessType=DOWNLOAD'
r = requests.get(url, allow_redirects=False)

# write the content of the request into a file called `berkeley_311.csv`
open('berkeley_311.csv', 'wb').write(r.content)

129037547

## Import the csv into a `pandas` dataframe

We use a method called `pd.read_csv()` to import a csv file into a dataframe.

Make sure you assign the dataframe into a variable. Below, we're calling the dataframe `berkeley_311`.

In [3]:
berkeley_311_original = pd.read_csv('berkeley_311.csv')

In these notes, I'm going to use the term `df` to stand for 'dataframe' — you will see `df` when you're searching the Internet for answers. In your actual work, you'll replace `df` with whatever you called your dataframe; in this case, that's `berkeley_311`.

## View data

### `df.head()` and `df.tail()`

Use `df.head()` to view the first 5 rows and the last 5 rows of the dataframe.

In [4]:
berkeley_311_original.head()

,Case_ID,Date_Opened,Case_Status,Date_Closed,Request_Category,Request_SubCategory,Request_Detail,Object_Type,APN,Street_Address,City,State,Neighborhood,Latitude,Longitude,Location
0,121000809740,11/06/2020 04:51:00 PM,Closed,11/09/2020 01:52:57 AM,General Questions/information,Miscellaneous,Miscellaneous Service Request,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
1,121000809739,11/06/2020 04:38:00 PM,Closed,11/09/2020 01:41:12 AM,General Questions/information,Miscellaneous,Miscellaneous Service Request,Property,060 249305600,1411 GRIZZLY PEAK BLVD,Berkeley,CA,Berkeley,37.884799,-122.247874,"(37.88479918, -122.24787412)"
2,121000793663,09/01/2020 11:32:00 AM,Closed,09/01/2020 11:36:00 AM,Other Account Services and Billing,Marina,Payment Collection - Marina,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
3,121000797043,09/15/2020 01:07:00 PM,Closed,11/09/2020 12:15:48 PM,General Questions/information,Miscellaneous,Miscellaneous Internet Request,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
4,121000750353,02/11/2020 11:40:00 AM,Closed,02/21/2020 01:17:00 PM,Public Records Act,Request,zMulti-Department,Organisation,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN

You'll notice that there are numbers `0`, `1`, `2`, `3`, and `4` added to the dataframe to the left. That's called the **index** of the dataframe. An index is basically a row id.

You can also use `df.head(20)` to view the first 20 rows.

How would you view the last 5 rows?

Use `df.tail()`. This might look similar to the command-line lecture we had a few weeks ago.

In [5]:
berkeley_311_original.tail()

,Case_ID,Date_Opened,Case_Status,Date_Closed,Request_Category,Request_SubCategory,Request_Detail,Object_Type,APN,Street_Address,City,State,Neighborhood,Latitude,Longitude,Location
588079,121000870206,08/16/2021 06:43:00 PM,Closed,08/24/2021 08:54:17 AM,Refuse and Recycling,Commercial,Commercial Customer Complaint,Property,NaN,"Intersection of Shattuck and Cedar, BERKELEY, CA",Berkeley,CA,Berkeley,NaN,NaN,NaN
588080,121000871866,08/24/2021 08:33:00 AM,Open,NaN,Refuse and Recycling,Residential,Residential Missed Pickup,Property,063 295600301,30 ACACIA AVE,Berkeley,CA,Berkeley,37.900258,-122.268583,"(37.90025808, -122.26858321)"
588081,121000871870,08/24/2021 08:38:11 AM,Closed,08/24/2021 04:36:08 PM,Refuse and Recycling,Account Services and Billing,Payment Collection - Refuse and Recycling,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
588082,121000872015,08/24/2021 12:12:38 PM,Closed,08/24/2021 04:36:30 PM,Refuse and Recycling,Account Services and Billing,Payment Collection - Refuse and Recycling,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
588083,121000871566,08/23/2021 10:05:00 AM,Closed,08/24/2021 02:58:00 PM,"Streets, Utilities, and Transportation",Clean City Program,Illegal Dumping - City Property,Property,NaN,"Intersection of Euclid and Virginia, BERKELEY, CA",Berkeley,CA,Berkeley,NaN,NaN,NaN

If you call the dataframe on its own, you'll get both the first 5 rows and the last 5 rows.

In [6]:
berkeley_311_original

,Case_ID,Date_Opened,Case_Status,Date_Closed,Request_Category,Request_SubCategory,Request_Detail,Object_Type,APN,Street_Address,City,State,Neighborhood,Latitude,Longitude,Location
0,121000809740,11/06/2020 04:51:00 PM,Closed,11/09/2020 01:52:57 AM,General Questions/information,Miscellaneous,Miscellaneous Service Request,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
1,121000809739,11/06/2020 04:38:00 PM,Closed,11/09/2020 01:41:12 AM,General Questions/information,Miscellaneous,Miscellaneous Service Request,Property,060 249305600,1411 GRIZZLY PEAK BLVD,Berkeley,CA,Berkeley,37.884799,-122.247874,"(37.88479918, -122.24787412)"
2,121000793663,09/01/2020 11:32:00 AM,Closed,09/01/2020 11:36:00 AM,Other Account Services and Billing,Marina,Payment Collection - Marina,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
3,121000797043,09/15/2020 01:07:00 PM,Closed,11/09/2020 12:15:48 PM,General Questions/information,Miscellaneous,Miscellaneous Internet Request,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
4,121000750353,02/11/2020 11:40:00 AM,Closed,02/21/2020 01:17:00 PM,Public Records Act,Request,zMulti-Department,Organisation,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588079,121000870206,08/16/2021 06:43:00 PM,Closed,08/24/2021 08:54:17 AM,Refuse and Recycling,Commercial,Commercial Customer Complaint,Property,NaN,"Intersection of Shattuck and Cedar, BERKELEY, CA",Berkeley,CA,Berkeley,NaN,NaN,NaN
588080,121000871866,08/24/2021 08:33:00 AM,Open,NaN,Refuse and Recycling,Residential,Residential Missed Pickup,Property,063 295600301,30 ACACIA AVE,Berkeley,CA,Berkeley,37.900258,-122.268583,"(37.90025808, -122.26858321)"
588081,121000871870,08/24/2021 08:38:11 AM,Closed,08/24/2021 04:36:08 PM,Refuse and Recycling,Account Services and Billing,Payment Collection - Refuse and Recycling,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
588082,121000872015,08/24/2021 12:12:38 PM,Closed,08/24/2021 04:36:30 PM,Refuse and Recycling,Account Services and Billing,Payment Collection - Refuse and Recycling,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
588083,121000871566,08/23/2021 10:05:00 AM,Closed,08/24/2021 02:58:00 PM,"Streets, Utilities, and Transportation",Clean City Program,Illegal Dumping - City Property,Property,NaN,"Intersection of Euclid and Virginia, BERKELEY, CA",Berkeley,CA,Berkeley,NaN,NaN,NaN

### `df.info()`

Use `df.info()` to get more information on the dataframe. In particular, this method is useful in that it shows us the column names and what `dtype` the column is. (I'll explain `dtype` below.)

In [7]:
berkeley_311_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588084 entries, 0 to 588083
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Case_ID              588084 non-null  int64
 1   Date_Opened          588084 non-null  object
 2   Case_Status          588084 non-null  object
 3   Date_Closed          561754 non-null  object
 4   Request_Category     588084 non-null  object
 5   Request_SubCategory  588084 non-null  object
 6   Request_Detail       588084 non-null  object
 7   Object_Type          588084 non-null  object
 8   APN                  331564 non-null  object
 9   Street_Address       365475 non-null  object
 10  City                 588084 non-null  object
 11  State                588084 non-null  object
 12  Neighborhood         588084 non-null  object
 13  Latitude             327333 non-null  float64
 14  Longitude            327333 non-null  float64
 15  Location             327333 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 71.8+ MB

### What is dtype?

You remember when we talked about Python **types**, like `int`, `float`, and `string`? Above, we have `int64` instead of `int`, and `float64` instead of `float`. (`object` is pretty close to `string`, but not exactly.)

Here, **dtype** stands for **data type** and comes from a module called `numpy`. Even though we did not `import numpy`, the pandas module imported numpy within its own code.

Side note on dtypes: Sometimes, data doesn't import correctly, and you have to `df.read_csv()` again while simultaneously specifying the dtype. We're not going to do that today because it looks like most of the data imported OK. But we will convert the dtype of two columns so we can perform certain calculations.

Let's take a look at a bit of the dataframe again.

In [8]:
berkeley_311_original.head()

,Case_ID,Date_Opened,Case_Status,Date_Closed,Request_Category,Request_SubCategory,Request_Detail,Object_Type,APN,Street_Address,City,State,Neighborhood,Latitude,Longitude,Location
0,121000809740,11/06/2020 04:51:00 PM,Closed,11/09/2020 01:52:57 AM,General Questions/information,Miscellaneous,Miscellaneous Service Request,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
1,121000809739,11/06/2020 04:38:00 PM,Closed,11/09/2020 01:41:12 AM,General Questions/information,Miscellaneous,Miscellaneous Service Request,Property,060 249305600,1411 GRIZZLY PEAK BLVD,Berkeley,CA,Berkeley,37.884799,-122.247874,"(37.88479918, -122.24787412)"
2,121000793663,09/01/2020 11:32:00 AM,Closed,09/01/2020 11:36:00 AM,Other Account Services and Billing,Marina,Payment Collection - Marina,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
3,121000797043,09/15/2020 01:07:00 PM,Closed,11/09/2020 12:15:48 PM,General Questions/information,Miscellaneous,Miscellaneous Internet Request,Individual,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN
4,121000750353,02/11/2020 11:40:00 AM,Closed,02/21/2020 01:17:00 PM,Public Records Act,Request,zMulti-Department,Organisation,NaN,NaN,Berkeley,CA,Berkeley,NaN,NaN,NaN

There are 2 columns that we want to convert. **Date_Opened** and **Date_Closed** are both `object` dtype, but we want to change them to a `datetime64` dtype. That allows us to do some math operations, like sort by the earliest date in the dataframe.

In [9]:
berkeley_311_original['Date_Opened'].min()

'01/01/2014 02:44:55 PM'

In [10]:
berkeley_311_original['Date_Opened'].max()

'12/31/2020 12:57:00 PM'

The operations above are wrong — they are sorted by string, not by actual date! We saw 2021 data when we called the df.tail() method earlier.

## Properly type the data

### Copy the original dataframe

Before we start convert the 2 columns, let's copy the original dataframe into a new dataframe. Below, I'm going to use `df.copy()` to create a copy of the original dataframe. We're not going to alter the original dataframe at all. That way, if we run into any problems later, we can compare our edited dataframe with the original dataframe.

In [11]:
berkeley_311 = berkeley_311_original.copy()

### Convert columns to `datetime`

Let's convert **Date_Opened** first so we can contrast the two columns. The syntax for this conversion is:

```python
df['column_name'] = pd.to_datetime(df['column_name'])
```

In [ ]:
berkeley_311['Date_Opened'] = pd.to_datetime(berkeley_311['Date_Opened'])

By the way, `berkeley_311['Date_Opened']` is a pandas **series**. We don't have to worry too much about that right now, but I want you to have to the right terminology. We're converting a series to a version of itself that passed through the `pd.to_datetime()` method.

Look at the dataframe now and compare **Date_Opened** and **Date_Closed**.

In [ ]:
berkeley_311.head()

See how they look different? You can also call `df.info()` again.

In [ ]:
berkeley_311.info()

Let's now convert the 2nd column `Date_Closed`:

In [ ]:
berkeley_311['Date_Closed'] = pd.to_datetime(berkeley_311['Date_Closed'])

And let's take a peek at the change:

In [ ]:
berkeley_311.head()

By the way, you might notice that we call `df.head()` and `df.tail()` a lot to check our work. That's OK. Later on, you will be able to run more code at once before calling one of those methods, but for now, it's good to check your work often.

### .min() and .max()

Now we can find the earliest date and the latest date of both columns, by performing `series.min()` and `series.max()` on these series. (There's no equivalent of `df`/dataframe for **series**, unfortunately.)

In [ ]:
berkeley_311['Date_Opened'].min()

In [ ]:
berkeley_311['Date_Opened'].max()

The min and max tell us that the year 2010 is not complete (and for that matter, neither is the current year, although we wouldn't need pandas to tell us that). If we analyze the data by year later, we might want to exclude 2010 and 2021 data.

### Get the difference of the two date columns

Pandas allows you to get the difference of two dates by literally subtracting one datetime column from another. We'll create a new column called **Close_Time** that shows us how long it took for a case to be closed.

In [ ]:
berkeley_311['Close_Time'] = berkeley_311['Date_Closed'] - berkeley_311['Date_Opened']

The resulting column will not be a `datetime` dtype. It will be a `timedelta` dtype. The term "delta" is often used to mean "change." Observe the last column:

In [ ]:
berkeley_311.head()

## A brief detour into data analysis

Now that we've converted the columns, we can do some interesting operations on them.

### Mean

Get the mean of a column by calling `series.mean()`.

In [ ]:
berkeley_311['Close_Time'].mean()

The average time the city took to close a case was around 61 days. This is for the whole dataset, from early 2010 to now.

### Median

In [ ]:
berkeley_311['Close_Time'].median()

But the median time was around 5 days.

### Min

In [ ]:
berkeley_311['Close_Time'].min()

The shortest amount of time was 0 days and 0 seconds. That might be a public comment that didn't require follow-up. We can check on that later.

### Max

In [ ]:
berkeley_311['Close_Time'].max()

One case seems to have taken 3,373 days! That's almost 10 years. That seems like way too long. There might be an error here.

Let's take a quick detour into _subsetting_ the data. That means to take a smaller set of the data based on some conditions. I'll explain how to subset more later, but for now, check out the following code:

In [ ]:
berkeley_311[berkeley_311['Close_Time'] >= '3373 days']

It's hard to know why it took so long to close this case without asking the city for more information.

### Sort data

We can even look at the top 10 cases that took the longest time to resolve. You'll use the `df.sort_values()` method.

Let's break down the below code before we run it. You can see there are 2 options within the parentheses for `.sort_values()`:
```python
by=['Close_Time'], ascending=False
```

The `by` argument tells us which column we will sort the dataframe by. You always need to include this argument. You can sort by multiple columns, too.

The optional `ascending` argument tells us if we want the dataframe to sort from smallest to largest or earliest to latest. By default, `ascending` is set to `True`, so we're going to change it here so it's `False`.

Next, I don't want to see the entire dataframe, just the first 10 rows. So I'm going to call `df.head(10)`.

In [ ]:
berkeley_311.sort_values(by=['Close_Time'], ascending=False).head(10)

So that's a preview of an interesting analysis we can do. I showed you one fun part before we moved onto the harder part, checking and vetting the data. Usually, we need to do that first. But we did convert the columns to datetime, which is part of making sure the data was valid.

## Clean data, part 2: Check and vet the data

### Unique identifier for every row?

First, I want to see if `Case_ID` has a unique ID for every row. Why? When you're doing a data analysis, every row should have its own unique ID. Hopefully, the agency that gave you the data has provided a unique ID. Sometimes, though, they don't. In those cases, you want to create a unique ID for every row.

I get a count of unique values by calling `.nunique()` on a column.

In [ ]:
berkeley_311['Case_ID'].nunique()

How many rows do we have again? We can use `df.info()` to get the number of rows, or we can scroll up to see again. I'm feeling lazy, so let's just call `len(df)`. (Do you remember that we learned `len()` for both strings and data structures earlier?)

In [ ]:
len(berkeley_311)

So there are 588,022 unique case IDs, but 588,028 rows in this dataframe. There might be duplicates or there could be missing data. Let's check for both.

We're going to check by **subsetting** the data.

### Subsetting

This is the general structure of how you subset data in pandas.

```python
df[ expression ]
```

That's not very descriptive. What's the _expression_? There are lots of different ways we write these expressions in pandas. I'm going to show you a handful of different kinds today, but know there are a bunch more!

Ultimately, what I want is a list of the duplicate `Case_ID`s. I'll then subset the dataframe to show any row that has a Case_ID that is on that list.


We'll first check to see which rows in `berkeley_311` are exact duplicates.

In [ ]:
berkeley_311[berkeley_311.duplicated()]

There are no exact duplicates. Now let's check specifically to see rows in which `Case_ID`s are duplicated.

In [ ]:
berkeley_311[berkeley_311['Case_ID'].duplicated()]

What's annoying about this is that it only shows ONE instance of the Case_ID. What I want is a list of those Case IDs. How do I make a list of the values in one column?

First, I'm going to create a new dataframe that has the duplicated IDs. We're going to create a copy.

In [ ]:
dupe_cases = berkeley_311[berkeley_311['Case_ID'].duplicated()].copy()
dupe_cases

Now we create a `list` or `array` (the numpy version of a list) of those IDs:

In [ ]:
dupe_case_ids = dupe_cases['Case_ID'].to_list()

# to create an array, you can use this instead:
# dupe_case_ids = dupe_cases['Case_ID'].unique()

Now we'll call `dupe_case_ids`, so we can see what's in it.

In [ ]:
dupe_case_ids

Now we'll subset the data by finding cases in our edited dataframe `berkeley_311`.

In [ ]:
berkeley_311[berkeley_311['Case_ID'].isin(dupe_case_ids)]

OK, this is weird, it looks like all the cases are for the same address. Still, it's hard to tell what's going on, so I'm going to sort that dataframe by **Case_ID**.

In [ ]:
berkeley_311[berkeley_311['Case_ID'].isin(dupe_case_ids)].sort_values(by=['Case_ID'])

The thing that looks different is the geocoding between those cases. 

FYI, all the code we used above didn't change the original dataframe. We were subsetting, but we did not subset with a new variable. 

Now, we're going to drop the duplicated cases, and reset the variable `berkeley_311`.

In [ ]:
berkeley_311 = berkeley_311.drop_duplicates(subset=['Case_ID'])

In [ ]:
berkeley_311

By the way, you might have noticed there's something called `NaT` in one of the rows above. `NaT` stands for _not a time_ and is kind of like `None` or an empty cell in Google Sheets. For non-time related blank cells, you'll see `NaN` (not a number) instead of `NaT`.

The difference between `None` and `NaN`/`NaT` is that the latter allows you to perform calcuations and skip any blank cells. That means, you probably need to check for how many `NaN`/`NaT` cells exist in your dataframe. If there are a lot of them, your analysis might not be valid. You can quickly check for that with the `df.info()` method we learned earlier. There's a column called `Non-Null Count`.

In [ ]:
berkeley_311.info()

Which columns have a lot of null values?

### Assert
The keyword `assert` is a good way for us to check if the length of the dataframe now matches the number of unique IDs.

In [ ]:
assert len(berkeley_311) == berkeley_311['Case_ID'].nunique()

If the assertion is `True`, nothing happens. But if the assertion is `False`, you'll get an error. You might want to use these kinds of assertions when you have to re-run your notebooks or have to import updated datasets.

## Explore data

What do I do if I don't have a question yet? I'm not really sure what to look into with this 311 data. So I'm going to explore it a little bit. I might do some analysis, I might not.

### Count how many incidents per year

What I'd like to see first is a count of all the incidents by year. However, I know from earlier in this notebook that the data for 2010 and 2021 are not complete. So I need to subset.

Below, I'm creating a new dataframe called `berkeley_311_complete` that limits the `berkeley_311` dataset to ones in which the **Date_Opened** value starts on or after January 1, 2011 and is before January 1, 2021. And we're not going to forget to use `df.copy()`.

In [ ]:
berkeley_311_complete = berkeley_311[
    (berkeley_311['Date_Opened'] >= '2011-01-01') &
    (berkeley_311['Date_Opened'] < '2021-01-01')
].copy()

### Aggregate with `df.groupby()`

To aggregate the data, we're going to use a method called `df.groupby()`. Normally, when we group data, we'll group them by columns, like so:

```python
df.groupby(['Column 1', 'Column 2'])
```

But it's really tricky to group by datetimes. We're going to have to use a method called `pd.Grouper`. Before we run the code below, let's analyze the different arguments within the method:

```python
pd.Grouper(key='Date_Opened', axis=0, freq='A')
```

The `key` argument lists the column. The `axis` argument is `0`. In pandas, axis 0 is rows and axis 1 means columns. That means you can do column-wise calculations if your data is shaped differently. The `freq` argument is `A`, which stands for "annual" or year (`Y` also works, but isn't documented). You can see other [frequency arguments](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases) in the official pandas documentation.

In [ ]:
berkeley_311_complete.groupby([pd.Grouper(key='Date_Opened', axis=0, freq='A')])

Running a `df.groupby()` doesn't do anything on its own, it just creates a pandas DataFrameGroupBy object. You have to follow it up with some kind of other method. Below, we're calling `df.count()` on the DataFrameGroupBy object.

In [ ]:
berkeley_311_complete.groupby([pd.Grouper(key='Date_Opened', axis=0, freq='A')]).count()

OK! So that's a new dataframe, with a little too much info. The "counts" are also different across columns. For "count" to make sense, you need to limit the dataframe to a column with zero blank cells. Since we know **Case_ID** has unique values, we just need that one. 

Before we subset the dataframe, let's give that dataframe a name, `annual_cases`. You won't need to use `df.copy()` on this because pandas created a new dataframe instance when you called `df.groupby().count()`.

In [ ]:
annual_cases = berkeley_311_complete.groupby([pd.Grouper(key='Date_Opened', axis=0, freq='A')]).count()

Now let's subset just the one column, **Case_ID**, from annual cases:

In [ ]:
annual_cases[['Case_ID']]

Let's look at that code one more time.
```python
annual_cases[['Case_ID']]
```

The outer set of brackets is used to select the data. Within the outer set of brackets is `['Case_ID']`. That is a list of the columns. If we wanted to select two columns, we might have written:

```python
annual_cases[['Case_ID', 'Case_Status']]
```

We don't need to keep the original `annual_cases` dataframe, so let's update the variable with the new subset:

In [ ]:
annual_cases = annual_cases[['Case_ID']].copy()

In [ ]:
annual_cases

### Resetting the index

In this dataframe, the index is no longer a series of integers like we've seen before. We want **Date_Opened** to be a columm, not an index, because that makes the dataframe easier to use.

We're going to use `df.reset_index()`:

In [ ]:
annual_cases = annual_cases.reset_index()

In [ ]:
annual_cases

Now, **Date_Opened** is its own column instead of an index.

Side note: You can use `df.reset_index(drop=True)` as an alternative to `df.copy(`) as long as you're OK with losing the original index numbers. The argument `drop=True` means that you want to renumber the index, not create a new column with index. See what happens if we don't add `drop=True` to the following code:

In [ ]:
annual_cases.reset_index()

Don't worry, we didn't permanently alter the `annual_cases` dataframe because we didn't redefine the variable!

In [ ]:
annual_cases

### Rename columns

Let's change the column names, while we're at it. 
I want to change the name of the **Case_ID** column to represent an actual count, like **Case_Count**.

You can replace _all_ the columns in a dataframe with the following code:

```python
annual_cases.columns = ['Date_Opened', 'Count']
```

If you have a lot of columns, that's going to be a long list. But if you have a lot of columns to rename, the method above might be easier. If you have only one column to rename out of many columns, you'll want to use the following code:

In [ ]:
annual_cases.rename(columns={'Case_ID': 'Case_Count'}, inplace=True)

Let's look at that code again:


```python
annual_cases.rename(columns={'Case_ID': 'Case_Count'}, inplace=True)
```

The first argument in the `df.rename()` method is `columns`. And what do we set columns to? We set it to a Python dictionary where the "key" is the original column name and the "value" is the new column name: `{'Case_ID': 'Case_Count'}`. 

The second argument is `inplace=True`. That tells us to change the `annual_cases` "in place" or without having to reset the dataframe variable. A lot of the methods in pandas return a new dataframe instead of altering the original dataframe. An alternative to using `inplace` is the following code:

```python
annual_cases = annual_cases.rename(columns={'Case_ID': 'Count'})
```

Let's take a look at our nicely named summary table:

In [ ]:
annual_cases

Now, I kind of want to change the **Date_Opened** column to be a **Year** column. Pandas uses the last date of the year to summarize the whole year, but instead of `2011-12-31`, I want the value `2011` and so on. So let's create a new column in `annual_cases` called **Year**.

In [ ]:
annual_cases['Year'] = annual_cases['Date_Opened'].dt.year

In [ ]:
annual_cases

At this point, I don't need the **Date_Opened** column anymore. So I can subset the dataframe with just the two columns I need. 

I also want **Year** to be the first column, not the last. The order I set the columns in my subset is how the new dataframe will be ordered.

In [ ]:
annual_cases = annual_cases[['Year', 'Case_Count']].copy()

In [ ]:
annual_cases

## Let's visualize this summary table!

Before we run the Altair code below, let's take a closer look:

```python
alt.Chart(annual_cases).mark_bar().encode(
    x='Year:O',
    y='Case_Count'
)
```
The first part of the code `alt.Chart()` requires you to fill the first argument with a dataframe, in this case `annual_cases`.

The next part of the code `mark_bar()` specifies a bar chart. (If you want a line chart, you'd use `mark_line()`.)

After that, `.encode()` tells Altair which columns to use for the `x` and `y` axes.

In [ ]:
alt.Chart(annual_cases).mark_bar().encode(
    x='Year',
    y='Case_Count'
)

That's pretty cool, but the Year shows up as an integer and not really a year. Let's make a very small alteration to the code.

Before you run the code below, notice that after `Year` there's a colon and an `O`. The `O` is shorthand for "ordinal," and tells Altair to treat `Year` as if it's a discrete quantity, not a continuous quantity.

In [ ]:
alt.Chart(annual_cases).mark_bar().encode(
    x='Year:O',
    y='Case_Count'
)

You can read about more [Altair encoding types](https://altair-viz.github.io/user_guide/encoding.html#encoding-data-types) in the documentation. It's helpful to get familiar with those encoding types in the event your chart doesn't look quite right.